* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.header {
  text-align: center;
  color: deepskyblue;
  text-transform: uppercase;
}

.docs__card {
  border: 1px solid gray;
  padding: 1em;
  width: 400px;
}

.docs__container {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.docs__header {
  color: blueviolet;
  font-size: 3rem;
}

.card-header {
  margin: 0;
  color: cadetblue;
  font-size: 2rem;
}
