@import '../../lib';

.auth-page {
  width: calc(100vw - 200px);
  height: 100vh;
  @include flex(row, center, center);

  &__form {
    width: 150px;
    @include flex(column, flex-start, center);
    gap: size(1);
  }
}
