{% extends "base.html" %}
{% block content %}
    <h1 class="header">CV api worked</h1>
    <div class="docs__container">
        <h2 class="docs__header">API docs:</h2>
        {% for doc in docs %}
            <div class="docs__card">
                <h4 class="card-header">{{ doc.title }}</h4>
                <p>{{ doc.method }} {{ doc.path }}</p>
                <p>Params:</p>
                <ul>
                    {% for param in doc.params %}
                        <li>{{ param.name }} ({{ param.param_type }}) - {{ param.desc }}</li>
                    {% endfor %}
                </ul>
                <p>Response fields:</p>
                <ul>
                    {% for field in doc.fields %}
                        <li>{{ field.name }} ({{ field.field_type }}) - {{ field.desc }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        {% if docs.length == 0 %}
            <span>No docs</span>
        {% endif %}
    </div>
{% endblock %}